
@media only screen and (min-width: 64rem) {
   /* Start of Header Styling */
  
   h1 {
		right: 76%;
		bottom: 88%;
		font-size: 1.8em;
	}

h2 {
  padding: 3rem;
}

.business-name {
 width: 175%;
}

.hero-text {
  top: 48rem;
  right: 20%;
  text-transform: (-50%, -50%);
}

/* Start of menu page */
#showMenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

#showMenu div figure, #showMenu div figure img  { 
	width: 200px;
}

#showMenu div h4 {
	margin: 0 1rem 3rem;
}

  .spotlightDishes section {
    flex: 1 1 30%;
  }

/* End of menu page */


}