@media only screen and  (min-width: 38rem){

    #showPlaces div {

        grid-template-areas: 
        "photograph name"
        "photograph location"
        "photograph description"
        "photograph button";
}

    #showPlaces div figure { 
	    width: 300px;
	}

#showPlaces div h2 {
	margin-bottom: -1rem; 
}

#showPlaces div figcaption {
    margin-top: -.5rem;
    }
    
}