@media only screen and (min-width: 768px) {  
    /***** Start of Directory*****/
    .header-nav  {
        display: flex;
        align-items: center;
        position: relative;
    } 

    /* Buttons */
     #ham-btn-2 {
        display: none;
    }

    #ham-btn-1 {
        position: absolute;
        right: 0;
        padding-right: 10px;
    }

    .navigation-1 {
        display: inline;
        position: absolute;
        top: 7px;
        right: 50px;
    }

    .navigation-1 ul, .navigation-2 ul {
            display: flex;
        }

        .navigation-1 a {
            background: none;
            border: none;
        }

        .trade-fair p {
        font-size: 1.5rem;
    }

    .discover-cta-button {
        font-size: 1.3rem;
        top: 90%;
    }

footer {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
}

/***** Start of Home *****/

/* Header Section */
.hero-content .cta-button {
    width: 30%;
}

/* Hero Section */

.Overlay-text p {
    margin-left:4rem;
}

.home-section .cta-button {
    width: 60%;
}

.Overlay-text .cta-button {
    width: 30%;
    margin-left: 8rem;
}


/* Home Section */

/* Event Section */
.event-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.event-item-1, .event-item-2 {
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-top: 1rem;
    padding: 0 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-container section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* Weather Section */
.weather-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.get-data h2 {
    margin-top: -1rem;
}

.get-data, .forecast-list {
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-item-1 h3 {
    padding: 2rem;
}

.event-item-2 {
    margin-top: 1.2rem;
}

.event-item-1 h3, .event-item-2 h3 {
    margin: 0 -1rem;
}

}/**** END OF 768px ****/


@media only screen and (min-width: 1024px) {
/***** Start of Home *****/
/* Header Section */

.header-nav img {
    width: 80px;
    height: auto;
}

.header-nav span {
    font-size: 1rem;
}

.navigation-1 a {
    font-size: 1.1rem;
    padding-top: 1.2rem;
}

/* Hero Section */
.hero-content p {
    padding-left: 11.5rem;
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.hero-content .cta-button {
     width: 20%;
     margin-left: 14rem;
}

/* ----- Events Section ------*/

.events-weather {
    display: grid;
    grid-template-columns: 1fr .5fr .3fr;
    gap: .5rem;
}

.event-item-1 h3, .event-item-2 h3, .current-weather-data h3 {
    font-size: 1.2rem;
    margin: 0 -1rem;
}

.event-item-1 h3 {
    margin-top: -1rem;
   padding-bottom: 1.2rem;
}

.weather-data {
    margin-top: 1.6rem;
}

.forecast {
    margin-top: 2rem;
}

.event-item-1 dl, .event-item-2 dl, .event-item-1 p, .event-item-2 p,
.current-data, .forecast 
 {
    font-size: 1rem;
}

/* .event-item-2 {
    padding-bottom: 1.3rem;
} */

.events-container .cta-button {
    width: 80%;
}

.weather-data {
    grid-template-columns: .5fr 1fr;
} 

.weather-data figure {
    text-align: left;
}

.current-weather-data {
    margin-right: 2rem;
}

.weather-forecast-container {
    margin-left: -2rem;
    margin-bottom: 1rem;
}

.events-container {
    grid-template-columns: .8fr .8fr;
}


} /**** END OF 1024PX ****/
/***** End of Home *****/

@media only screen and (min-width: 1200px) {
/***** Start of Directory *****/

.trade-fair p {
        font-size: 2rem;
        top: 2.5rem;
}

h1 {
    font-size: 2rem;
} 

.discover-cta-button {
        font-size: 2rem;
        top: 90%;
}

footer p {
    font-size: 1.2rem;
}

/***** End of Directory *****/


/***** Start of Home *****/
.hero-content p {
    padding-left: 40rem;
}

.header-nav .cta-button {
    margin-left: 35rem;
    }
}
    /***** End of Home *****/

@media only screen and (min-width: 1440px){
/* Start Home */

/* Start Header */
.navigation-1 a {
    font-size: 1.3rem;
    padding-top: 1.2rem;
}

.header-nav span {
    font-size: 1.2rem;
}

/* Start Hero */

.hero-content span {
    font-size: 2.5rem;
}

.hero-content p {
    margin-left: -15rem;
}


.hero-content .cta-button {
    width: 20%;
    margin-left: 25rem;
}

/* Home Section */
.home-section h2, .weather-section h2, .business-container h2 {
    font-size: 2rem;
}

/* Start Events */

.event-item-1 h3, .event-item-2 h3, .current-weather-data h3 {
    font-size: 1.5rem;
}

.event-item-1 dl, .event-item-2 dl, .event-item-1 p, .event-item-2 p,
.current-data, .forecast
{
    font-size: 1.2rem;
}

.events-container .cta-button {
    width: 80%;
}

/* Footer Section */
footer {
    font-size: 2.5rem;
    grid-template-columns: auto 1fr auto;
}
} 
/**** END OF 1440px ****/

