/* -----Color Schema----- */
:root {
    --primary-color: #4A90E2;
    --secondary-color: #344055; 
    --accent-1: #710000; /*Blood red */
    --accent-color-2: #EDF060;
    --accent-3: #D81159; /* Raspberry */
}

/* -----Site Wide----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00000000;
    font-family: "Oxygen", sans-serif;
}

/* -----Header----- */
header {
    display: grid;
    grid-template-columns: 60px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border: solid 1px #ddd;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: -10px;
    margin-bottom: -10px;
}

header span {
    font-size: 1.2rem;
    margin-left: -10px;
    color: var(--accent-1);
}

/* -----Hamburger Navigation-----*/
.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* -----Nav element----- */
.navigation {
    display: none;  /* hide nav element by default */
}

.navigation.show {
    display: block; /* show nav element when it has a class of 'show' */
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--accent-1);
    text-decoration: none;
    border: solid 1px #ddd;
}

.navigation li.active {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #f0f6ff;
}

h1 {
    margin-left: 10px;
    margin-bottom: 0;
}

h1, h2 {
    color: var(--accent-1);
    width: 100%;
}

/*-------About Me Section--------*/
p {
    padding: 10px;
    letter-spacing: 2px;
    line-height: 1.5;
}

h2 {
    text-align: center;
    padding: 1rem 0;
    color: #ffffff;
    background-color: var(--secondary-color);
}

/*------Student Picture Section-------*/
.student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-------Course Card Section-------*/
.course-filter-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.course-filter-btns button {
    background-color: var(--accent-1);
    color: #ffffff;
    padding: 15px 22px;
    border-radius: 10px;
    border: none;
}

.courses p {
    font-style: italic;
}

.uncompleted {
    background-color: var(--accent-3);
    color: #ffffff;
}

.completed {
    background-color: var(--accent-color-2);
    color: var(--accent-1);
}

.completed::before {
    content: "✓";
}

.courses, .student, .about-me {
    margin: 1rem 10px;
    border: none;
    box-shadow: 0 0 5px #ddd;
}

.show-courses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.show-courses button {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.show-courses .course-content, .course-filter-btns {
    font-size: 1.2rem;
    font-weight: 700;
}

.total-credit, .count-courses {
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
    color: var(--accent-1);
}

/*-----Footer-----*/
footer {
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 1rem 0;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #f0f6ff;
}

.footer-paragraphs {
     background-color: #eee;
     padding: 10px;
}
